* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

@media (max-width: 697px) {
  .fondoPantalla {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-rows: 1fr 1fr 1fr 0.1fr;
    grid-template-columns: 20% 27% 27% 26%;
    grid-template-areas: " nav   header header header" " nav    main   main    main" " nav    main   main    main" "footer footer footer  footer ";
    background-image: url(../img/resp.png); } }

/*estilos generales*/
.fondoPantalla {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-rows: 1fr 1fr 1fr 0.1fr;
  grid-template-columns: 20% 27% 27% 26%;
  grid-template-areas: " nav   header header header" " nav    main   main    main" " nav    main   main    main" "footer footer footer  footer ";
  background-image: url(../img/ff1.png);
  background-repeat: no-repeat;
  background-position: center; }
  .fondoPantalla header {
    grid-area: header;
    width: 100%; }
    .fondoPantalla header img {
      display: block;
      margin: 1.0rem auto;
      width: 27.0rem;
      height: 15.0rem;
      border: #0b968a inset; }
    .fondoPantalla header #logo {
      margin-left: 40.0rem; }
    .fondoPantalla header h1 {
      margin-left: 30.0rem;
      font-size: 5.0rem;
      color: black;
      font-family: 'Cinzel', serif; }
    .fondoPantalla header .boton {
      text-decoration: none;
      font-size: 1.5rem;
      color: #0b968a;
      background-color: black;
      float: right;
      padding: 1.0rem;
      margin: 0.6rem;
      font-family: 'Cinzel', serif; }
    .fondoPantalla header .boton:hover {
      transition: 2.0s;
      color: #62f5fa; }
  .fondoPantalla nav {
    grid-area: nav;
    background-color: black;
    width: auto; }
    .fondoPantalla nav .menu {
      position: absolute;
      top: 18.0rem;
      background-color: black;
      margin-left: 1.0rem; }
      .fondoPantalla nav .menu li {
        list-style: none;
        padding-bottom: 4.0rem;
        font-size: 2.5rem;
        font-family: 'Cinzel', serif; }
      .fondoPantalla nav .menu a {
        text-decoration: none;
        color: #0b968a; }
      .fondoPantalla nav .menu a:hover {
        color: #62f5fa;
        transition: 1.0s; }
  .fondoPantalla main {
    grid-area: main;
    width: 100.0rem;
    margin-left: 5.0rem; }
    .fondoPantalla main .carrusel {
      width: 82.0rem;
      margin-left: 5.0rem;
      margin-top: 0%; }
    .fondoPantalla main h5 {
      font-size: 2.0rem;
      color: #c7ffff;
      font-family: 'Cinzel', serif;
      background-color: black; }
    .fondoPantalla main p {
      font-size: 1.8rem;
      background-color: black;
      color: #c7ffff; }

footer {
  grid-area: footer;
  font-size: 4.0rem;
  font-family: 'Cinzel', serif;
  color: #c7ffff;
  text-align: center;
  background: lineal-gradient(circle, #fbffff 29%, #7bafad 84rgb 37, 173, 162 45); }
  footer p {
    float: right;
    color: #c7ffff;
    font-size: 1.5rem; }
  footer li {
    display: inline; }

/*estilo de haztucompra*/
#canasta {
  position: absolute;
  top: 2.0rem;
  width: 10.0rem;
  height: 9.0rem;
  left: 120.0rem;
  border: none; }

.venta {
  height: 40.0rem;
  overflow-y: scroll; }
  .venta section {
    display: flex;
    justify-content: space-around; }

.card .card-body {
  background-color: black; }

.card .btn-primary {
  color: black;
  background-color: #0b968a; }

/*estilo de blog*/
.blog {
  height: 40.0rem;
  overflow-y: scroll;
  margin-left: 10.0rem;
  font-size: 2.0rem;
  color: #c7ffff; }
  .blog .card {
    background-color: black; }
    .blog .card img {
      margin: 1.5rem; }

/*estilo contactanos*/
.contacto {
  font-size: 2.5rem;
  border: #0b968a double 0.8rem;
  margin-left: 15.0rem;
  margin-right: 20.0rem;
  margin-top: 8.0rem;
  background-color: black;
  color: #c7ffff; }

/*estilo aliados*/
.tabla {
  border: #0b968a double 0.8rem;
  font-size: 2.0rem;
  width: 75.0rem;
  margin-left: 13.0rem;
  margin-top: 8.0rem;
  background-color: black;
  color: #c7ffff; }

/**estilos comentarios**/
.seccion3 {
  width: 50.0rem;
  height: 35.0rem;
  border: #0b968a double 1rem;
  font-size: 2.0rem;
  color: #c7ffff;
  margin-left: 25.0rem;
  margin-top: 3.0rem;
  background-color: black; }

/**estilos inscripcion**/
.seccion1 {
  width: 40.0rem;
  height: 40.0rem;
  border: #0b968a double 1rem;
  font-size: 1.5rem;
  color: #c7ffff;
  margin-left: 3.0rem;
  background-color: black; }

.seccion2 {
  width: 40.0rem;
  height: 40.0rem;
  border: #0b968a double 1rem;
  font-size: 2.0rem;
  color: #c7ffff;
  position: absolute;
  top: 23.6rem;
  left: 82.0rem;
  background-color: black; }
  .seccion2 .fondoBoton {
    display: block;
    background-color: black;
    color: #0b968a; }
