* {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0; }

/*CARRUSEL INDEX*/
.carrusel {
  margin-top: 3rem; }
  .carrusel p {
    color: #fcfafa;
    font-family: 'Otomanopee One', sans-serif;
    font-weight: bold;
    font-size: 2.5vw;
    text-align: center;
    margin-top: 3rem; }
  .carrusel .boton {
    margin-left: 10vw; }
  .carrusel button {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    color: white;
    font-size: 1.5vw; }

/*CARDS licores*/
#tarjeta {
  margin-left: 1.5rem; }

.card-body {
  background-color: black;
  border: black solid;
  /*estilos blog*/ }
  .card-body .card-title {
    color: white; }
  .card-body .card-text {
    color: white; }
  .card-body .btn-primary {
    background-color: #07363a;
    border: none; }
  .card-body .btn-primary:hover {
    background-color: #66948e; }

.blog {
  font-size: 1.3rem;
  color: #c7ffff; }
  .blog .card {
    background-color: black; }
    .blog .card img {
      margin: 1.5rem; }

/*estilo contactanos*/
.contacto {
  margin-left: 15.0vw;
  margin-right: 20.0vw;
  background-color: black;
  border: #07363a double 1vw;
  color: #c7ffff; }
  .contacto h3 {
    font-size: 2.5vw; }
  .contacto img {
    width: 100px; }

/*estilo aliados*/
.tabla {
  font-size: 1.5vw;
  width: 70.5vw;
  height: 30.0vw;
  margin-left: 10.0vw;
  background-color: black;
  color: #c7ffff;
  border: #07363a double 1vw; }

/**estilos comentarios**/
.seccion3 {
  width: 50.0vw;
  font-size: 1.5vw;
  margin-left: 15.0vw;
  background-color: black;
  padding: 1.5vw;
  border: #07363a double 1vw; }
  .seccion3 .fondoBoton {
    background-color: #07363a;
    border: none;
    color: #c7ffff;
    font-size: 1.0rem; }
  .seccion3 .fondoBoton:hover {
    background-color: #66948e; }

nav {
  background-color: #021618;
  font-size: 1.2rem; }
  nav li:hover {
    background-color: #23cfcf; }
  nav button {
    background-color: black;
    margin-left: 0.5rem; }
    nav button a {
      color: white; }
    nav button a:hover {
      color: #23cfcf;
      transition: 1.9s; }

body {
  background-image: url(../img/ff1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  min-height: 100vh;
  margin: 0;
  z-index: unset; }
  body h1 {
    color: white;
    font-family: 'Otomanopee One', sans-serif;
    text-align: center; }
  body h4 {
    color: white; }
  body .nosotros {
    color: white;
    text-align: center;
    font-size: 3vw; }
  body .marcas {
    background-color: black; }
  body .trabajar {
    color: white;
    text-align: center;
    font-size: 4.5vw;
    margin-top: 5rem; }
  body .principal {
    font-size: 2.5vw;
    color: white; }

/*AQUI VA EL FOOTER*/
/* Credit to https://epicbootstrap.com/snippets/footer-basic */
footer {
  background-color: black;
  bottom: 0;
  position: sticky;
  top: 1000px;
  width: 100%;
  padding: 0; }
  footer .footer-bottom {
    border-top: 1px solid black;
    background: #02181a; }
  footer .copyright-text p {
    color: #c7ffff;
    margin-top: 9px;
    margin-bottom: 0; }
  footer .social-link li {
    display: inline-block;
    margin: 0 5px; }
  footer .social-link li a {
    color: #c7ffff;
    width: 40px;
    height: 30px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition: .5s; }
