* {
    margin: 0;
    padding: 0;
    }
//import
@import"bootstrap";

//aqui esta el SASS

nav{
    background-color: rgb(2, 22, 24);
    font-size: 1.2rem;
    li:hover{
        background-color:rgb(35, 207, 207);
    }
    button{
        background-color: rgb(0, 0, 0);
        margin-left: 0.5rem;
        a{
            color: rgb(255, 255, 255);
        }
        a:hover{
            color: rgb(35, 207, 207);
            transition: 1.9s;
        }
    }
}

//body
body{
    background-image:url(../img/ff1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    position:relative;
    min-height: 100vh;
    margin: 0;
    z-index:unset;
    h1{
        color: white;
        font-family: 'Otomanopee One', sans-serif;
        text-align: center;
    }
    h4{
        color: white;
    }
    .nosotros{
        color: white;
        text-align: center;
        font-size: 3vw;
        }
    .marcas{
        background-color: black;
    }
    .trabajar{
        color:white;
        text-align: center;
        font-size: 4.5vw;
        margin-top: 5rem;
    }
    .principal{
        font-size: 2.5vw;
        color:rgb(255, 255, 255);
    }
}
/*AQUI VA EL FOOTER*/

/* Credit to https://epicbootstrap.com/snippets/footer-basic */
footer{
    background-color: black;
        bottom: 0;
        top: 1000px;
        position:sticky;
        width: 100%;
        padding:0;
    .footer-bottom {
        padding: 40px 0 30px;
        border-top: 1px solid rgb(0, 0, 0);
        background:rgb(2, 24, 26);
    }
    .copyright-text p {
        color:rgb(199, 255, 255);
        margin-top: 9px;
        margin-bottom: 0;
    }
    .social-link li {
        display: inline-block;
        margin: 0 5px;
    }
    .social-link li a {
        color:rgb(199, 255, 255);
        width: 40px;
        height: 30px;
        line-height: 40px;
        border-radius: 50%;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        transition: .5s;
    }
}