*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
//import
@import "responsive";
//variables
$color-primario: #018075;
$color-secundario: rgb(98, 245, 250);
$color-terceario:rgb(199, 255, 255);
$color-cuarteario:black;

.fondoPantalla{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-rows: 1fr 1fr 1fr 0.1fr;
    grid-template-columns: 20% 27% 27% 26% ;
    grid-template-areas: 
        " nav   header header header"
        " nav    main   main    main"
        " nav    main   main    main"
        "footer footer footer  footer "
    ;
    background: rgb(3,27,20);
    background: linear-gradient( rgb(1, 12, 9) 0%, rgba(7,25,22,1) 30%, rgb(8, 49, 41) 58%, rgb(8, 71, 61) 87%, rgb(21, 124, 107) 97%, rgb(13, 167, 138) 100%);
    header{
        grid-area: header;
        width: 100%;
        img{
            display:block;
            margin: 1.0rem auto;
            width: 27.0rem;
            height: 15.0rem;
            border:$color-primario inset;
        }
        #logo{
            margin-left: 40.0rem;
        }
        h1{
            margin-left: 30.0rem;
            font-size: 5.0rem;
            color:$color-primario;
            font-family: 'Cinzel', serif;
        }
        .boton{
            text-decoration: none;
            font-size: 1.5rem;
            color:$color-primario;
            background-color:$color-cuarteario;
            float: right;
            padding: 1.0rem;
            margin: 0.6rem;
            font-family: 'Cinzel', serif;
        }
        .boton:hover{
            transition: 2.0s;
            color:$color-secundario;
        }
    }
    nav{
        grid-area: nav;
        background-image: url(../img/corcho.png);
        width: auto;
        .menu{
            padding: 10px;
            position:absolute;
            top: 25.0rem;
            background-color:$color-cuarteario;
            margin-left: 1.0rem;
            li {
                list-style: none;
                padding-bottom: 20px;
                font-size: 2.5rem;
                font-family: 'Cinzel', serif;
            }
            a{
                text-decoration: none;
                color:$color-primario;
            }
            a:hover {
                color:$color-secundario;
                transition: 1.0s;
            }
        }
    }
    main{
        grid-area: main;
        width: 100.0rem;
        margin-left: 5.0rem;
        .carrusel{
            width: 82.0rem;
            margin-left: 5.0rem;
            margin-top: 0%;
        }
        h5{
            font-size: 2.0rem;
            color:$color-terceario;
            font-family: 'Cinzel', serif;
            background-color:$color-cuarteario;
        }
        p{
            font-size: 1.8rem;
            background-color:$color-cuarteario;
            color: $color-terceario;
        }
    }

}
footer{
    grid-area: footer;
    font-size: 4.0rem;
    font-family: 'Cinzel', serif;
    color:$color-terceario;
    text-align: center;
    height: auto;
    background: radial-gradient(circle, rgba(14,29,27,1) 0%, rgba(12,34,31,1) 29%, rgba(11,59,45,1) 84%, rgba(0,105,86,1) 100%);
    p{
        float: right;
        color:$color-terceario;
        font-size: 1.5rem;
    }
    li{
        display: inline;
    }
}
